name: Build and test

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [1.8, 11]
    steps:
      - name: Checkout datasketches-spark repository
        uses: actions/checkout@v2
        # In order to fetch changed files
        with:
          fetch-depth: 0
      # Cache local repositories. Note that GitHub Actions cache has a 2G limit.
      - name: Cache Scala, Maven and Zinc
        uses: actions/cache@v1
        with:
          path: build
          key: build-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            build-
      - name: Cache Maven local repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ matrix.java }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ matrix.java }}-maven-
      - name: Install JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Run tests
        run: |
          ./build/mvn -q clean package -DskpTests
          ./build/mvn test

